 {% load static %}
 <div class="my-4">
            <h1 class=" text-3xl my-8">Education</h1>
            <div class="my-16 flex items-center border bg-[#F5F5F5]  cursor-pointer border-white p-4">
                    <div>
                    <img class="w-32" src={% static "images/CSUseal.png"%} />
                    </div>
                    <div class="ml-8">
                    <h1 class=" text-3xl text-black">California State University Chico College of Engineering</h1>
                    <h2 class=" text-xl text-black">Master's Computer Science</h2>
                    <h1 class=" text-l text-black">JAN 2021 - MAY 2023 </h1>
                    <h3 class=" text-l text-black">FOCUS ON AI & ML</h3>
                    </div>
                </div>
            </div>
            <div class="my-16">
               
                <div class="flex items-center border cursor-pointer border-white p-4 bg-[#F5F5F5]  rounded-sm">
                    <div>
                    <img class="w-32" src={% static "images/CSUseal.png"%} />
                    </div>
                    <div class="ml-8">
                    <h1 class=" text-3xl text-black">California State University Chico College of Business</h1>
                    <h2 class=" text-xl text-black">Bachelor's Finance</h2>
                    <h1 class=" text-l text-black">AUG 2017 - MAY 2021</h1>
                    <h3 class=" text-l text-black">FOCUS ON REAL ESTATE </h3>
                    </div>
                </div>
            </div>
        </div>