 <div class="degrees-container">
            
            <div class="degree-row">
                <div class="degree-image-container">
                    <div class="coming-soon-container">
                    <div class="coming-soon-banner">
                        <h1 class="coming-soon">COMING SOON...</h1>
                    </div>     
                    </div>
                </div>
                <div class="degree-sentence">
                    <h1>MS COMPUTER SCIENCE </h1>
                    <h1>JAN 2021 - MAY 2023 </h1>
                    <h1>FOCUS ON AI & DESIGN</h1>
                </div>
            </div>
            <div class="degree-row">
                <div class="degree-image-container">
                    <div class="coming-soon-container">
                        <img class="degree-paper" src="{% static 'images/degreeFinance.png' %}"/>
                            
                        </div>
                </div>
                <div class="degree-sentence">
                    <h1>BUSINESS FINANCE </h1>
                    <h1>AUG 2017 - MAY 2021 </h1>
                    <h1>FOCUS ON REAL ESTATE </h1>
                </div>
            </div>
        </div>