{% load static %}
<div id="top" class="navbar"> 
            <div class="logo-container">
                <div class="logo-container-inner">
                    <div class="glitchbtn flex justify-center items-center">
                <img class="logo " src="{% static 'images/PBSVGLogo.svg' %}" />
                    </div>
                </div>
            </div>
            
            <div class="link-container">
              
                <a href="#two" class="resume-button hidden lg:block">Projects</a>
                <a href="#two" class="resume-button hidden lg:block">Education</a>
                <a href="#two" class="resume-button hidden lg:block">Work Experience</a>
                 {% comment %} <a href="#two" class="resume-button">Blog</a> {% endcomment %}
          
                <a href="#two" class="resume-button">Resume</a>
                <a href="#three" class="contact-button">Contact</a> 
            </div> 
        </div>