 {% load static %}
 {% load tailwind_tags %}
 {% tailwind_css %}
 <div>
 <div class="projects-container">
            <h1 class=" text-2xl" style="margin-left: 20px">PROJECTS</h1>
            {% include "./search.html" %}
            <div id="projects-container" class="projects-container grid lg:grid-cols-2 lg:gap-2 grid-cols-1">
               

            
           
            
        </div>
        </div>
      <div id="model-popup-container" class="modal-popup-container">
        <div class="modal-popup max-w-7xl bg-[#FFF] h-full"> 
            <div>
            <p onclick="toggleModel()" id="close-modal" class="text-gray-500">X</p>
        </div>
    </div>  
</div>

<script>
function toggleModel() {
  console.log("model toggle")
  let toggleModel = document.getElementById("model-popup-container");
  if (toggleModel.style.display == "none") {
    toggleModel.style.display = "block";
  }
  else {
    toggleModel.style.display = "none";
  }

}
</script>
