{% load static %}
<div class="flex flex-col w-full justify-center items-center  mb-4">
    <div>
    <input id="search-input" class="bg-transparent border text-center border-white my-4 px-4 py-2 " placeholder="Search projects" />
    </div>
    <div>
    <button class="border-white border px-2 py-1">React</button>
    <button class="border-white border px-2 py-1">Mobile</button>
    <button class="border-white border px-2 py-1">Web</button>
    <button class="border-white border px-2 py-1">UI/UX</button>
    </div>
</div>


